.mainDiv{
	text-align: center;
	background-color: #91d2fa;
}

.mainTitle{
	background-color: #3c3b3c;
	color: white;
	font-weight: bolder;
	padding: 10px;
}

.grandParent{
	background-color: #ff691f;
	color: white;
	padding: 10px 20px 30px 20px;
}

.parent{
	background-color: #7fdbb6;
	color: white;
	padding: 10px 20px 30px 20px;
}

.child{
	background-color: #981ceb;
	color: white;
	padding: 10px 20px 30px 20px;
}

button{
	padding: 10px;
	margin: 5px;
	font-weight: bold;
	font-size: 14px;
	background-color: #fff59d;
}